lib/cc_format_validator/xsd/Ответ на запрос статуса.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://bssys.com/sbns/integration" targetNamespace="http://bssys.com/sbns/integration" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="StateResponse">
		<xs:annotation>
			<xs:documentation>Ответ на запрос статуса</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="bankMessage" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Сообщение из банка</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4000"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="bankMessageAuthor" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Ответственный исполнитель</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1024"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="createTime" minOccurs="0" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>Дата и время создания</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="docId" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Идентификатор документа</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="36"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="docType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Тип документа</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="extId" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Идентификатор документа во внешней системе</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="64"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="messageOnlyForBank" minOccurs="0" type="xs:string">
					<xs:annotation>
						<xs:documentation>Сообщнение от АБС для банка</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="operationDate" minOccurs="0" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>Дата обработки</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="state" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Статус документа</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="UNCHANGED">
								<xs:annotation>
									<xs:documentation>Статус не изменён</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="DELIVERED">
								<xs:annotation>
									<xs:documentation>Доставлен</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ACCEPTED">
								<xs:annotation>
									<xs:documentation>Принят</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="DECLINED">
								<xs:annotation>
									<xs:documentation>Отказан</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="REFUSED_BY_BANK">
								<xs:annotation>
									<xs:documentation>Отказан банком</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ACCEPTED_BY_ABS">
								<xs:annotation>
									<xs:documentation>Принят АБС</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="DECLINED_BY_ABS">
								<xs:annotation>
									<xs:documentation>Отказан АБС</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="PROCESSED">
								<xs:annotation>
									<xs:documentation>Обработан</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="PROCESSED_BY_OPER">
								<xs:annotation>
									<xs:documentation>Обработан операционистом</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="PARTIALLY_PROCESSED">
								<xs:annotation>
									<xs:documentation>Частично обработан</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="PROCESSED_ERRORS">
								<xs:annotation>
									<xs:documentation>Обработан с ошибками</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="IMPLEMENTED">
								<xs:annotation>
									<xs:documentation>Исполнен</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="PARTIALLY_IMPLEMENTED">
								<xs:annotation>
									<xs:documentation>Частично исполнен</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="CARD2">
								<xs:annotation>
									<xs:documentation>Картотека 2</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ACCEPTED_BY_CFE">
								<xs:annotation>
									<xs:documentation>Принят ВК</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="REFUSED_BY_CFE">
								<xs:annotation>
									<xs:documentation>Отказан ВК</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ACCEPTED_BY_CFE_UNSIGNED">
								<xs:annotation>
									<xs:documentation>Принят ВК (не подписан)</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="REFUSED_BY_CFE_UNSIGNED">
								<xs:annotation>
									<xs:documentation>Отказан ВК (не подписан)</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="DELAYED">
								<xs:annotation>
									<xs:documentation>Приостановлен</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="RECALL">
								<xs:annotation>
									<xs:documentation>Отозван</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="CLOSED">
								<xs:annotation>
									<xs:documentation>Закрыт</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="INVALID_EDS">
								<xs:annotation>
									<xs:documentation>ЭП/АСП неверна</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="REQUISITE_ERROR">
								<xs:annotation>
									<xs:documentation>Ошибка реквизитов</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="EXPORT_ERROR">
								<xs:annotation>
									<xs:documentation>Ошибка экспорта</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="EXPORTED">
								<xs:annotation>
									<xs:documentation>Выгружен</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="READY_FOR_PAYMENT">
								<xs:annotation>
									<xs:documentation>Готов к оплате</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="acceptPayRequest" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AcceptPayRequest">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="bankAcceptDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата принятия документа в банке</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="bgAdditional" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BGAdditional">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="bankAcceptDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата поступления в банк</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="bgDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата выдачи гарантии</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="bgNumber" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Номер гарантии</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="40"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="operationDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата обработки документа</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="cashFunds" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CashFunds">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="bankAcceptDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата принятия электронного документа в банке</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="operationDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата исполнения документа. Выставляется при переходе на статус "Исполнен"</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="processedDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата обработки</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="chanDP" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Доп. информация для квитанции по правке о подтверждающих документах</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ChanDP">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="bankGrantingtDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата и время представления в банк</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="contactPerson" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ФИО контактного лица</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="clDP" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Доп. информация для квитанции по правке о подтверждающих документах</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ClDP">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="bankGrantingtDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата и время представления в банк</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="contactPerson" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ФИО контактного лица</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="confDocCertificate138I" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Доп. информация для квитанции по правке о подтверждающих документах</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ConfDocCertificate138I">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="bankGrantingtDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата и время представления в банк</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="contactPerson" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ФИО контактного лица</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="64"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="contractReissue" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Доп. информация для квитанции по документу</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ContractReissue">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="bankGrantingtDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата и время представления в банк</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="contactPerson" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ФИО контактного лица</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="currBuy" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Доп. информация для квитанции по поручению на покупку валюты</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CurrBuy">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="amountCurrTotal" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Фактическая сумма купленной валюты</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="20"/>
													<xs:fractionDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="amountRurTotal" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Фактическая сумма списанных рублей</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="18"/>
													<xs:fractionDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="bankAcceptDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата принятия электронного документа в банке</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="chargeAmount" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сумма комиссии</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="20"/>
													<xs:fractionDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="currCodeISOCharge" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ISO код валюты комиссии</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="currRateBank" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Курс сделки</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="10"/>
													<xs:fractionDigits value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="currRateBankScale" minOccurs="0" type="xs:decimal">
											<xs:annotation>
												<xs:documentation>За (масштаб курса сделки)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="valueDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Фактическая дата валютирования</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="currConv" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Доп. информация для квитанции по поручению на конверсию валюты</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CurrConv">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="amountCreditTotal" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Фактическая сумма купленной  валюты</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="20"/>
													<xs:fractionDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="amountDebetTotal" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Фактическая сумма проданной валюты</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="20"/>
													<xs:fractionDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="bankAcceptDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата принятия электронного документа в банке</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="bankRateScale" minOccurs="0" type="xs:decimal">
											<xs:annotation>
												<xs:documentation>Масштаб, использованный для проведения сделки</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="chargeAmount" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сумма комиссии</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="20"/>
													<xs:fractionDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="currCodeISOCharge" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ISO код валюты комиссии</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="currRate" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Фактический курс сделки</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="20"/>
													<xs:fractionDigits value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="valueDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Фактическая дата валютирования</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="currDealCertificate138I" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Доп. информация для квитанции по правке о подтверждающих документах</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CurrDealCertificate138I">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="bankAcceptDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата принятия электронного документа в банке</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="bankGrantingtDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата и время представления в банк</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="contactPerson" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ФИО контактного лица</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="64"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="currDealCertificate181I" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Доп. информация для квитанции по сведениям о подтверждающих документах</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CurrDealCertificate181I">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="bankAcceptDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата принятия электронного документа в банке</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="bankGrantingtDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата и время представления в банк</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="contactPerson" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ФИО контактного лица</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="64"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="currSell" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Доп. информация для квитанции по поручению на продажу валюты</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CurrSell">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="amountTotal" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Списано комиссии</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="20"/>
													<xs:fractionDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="amountTotalISO" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ISO код валюты</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="bankAcceptDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата принятия электронного документа в банке</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="currRate" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Фактический курс конверсии</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="20"/>
													<xs:fractionDigits value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="currRateScale" minOccurs="0" type="xs:decimal">
											<xs:annotation>
												<xs:documentation>За (масштаб фактического курса)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="currSell" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Валюты продано</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="20"/>
													<xs:fractionDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="rurTransfer" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Перечислено рублей</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="18"/>
													<xs:fractionDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="valueDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата валютирования</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="dealContract181I" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Доп. информация для квитанции по контракту для постановки на учет</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DealContract181I">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="bankAcceptDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата принятия электронного документа в банке</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="bankGrantingtDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата и время представления в банк</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="contactPerson" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ФИО контактного лица</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="uniqueContractNumber" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Уникальный номер контракта</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="dealPassCon138I" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Доп. информация для квитанции по правке о подтверждающих документах</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DealPassCon138I">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="bankAcceptDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата принятия электронного документа в банке</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="bankGrantingtDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата и время представления в банк</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="contactPerson" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ФИО контактного лица</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="dealPassportDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата ПС</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="dealPassportNumber" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Номер пасспорта сделки</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="docsFromResidentDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата предоставления резидентом документов для оформления (переоформления, принятия на обслуживание и закрытия) ПС, созданного на банке</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="docsFromResidentKind" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Способ передачи резидентом документов для оформления (переоформления, принятия на обслуживание и закрытия) ПС, созданного на банке</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="docsToResidentDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата направления резиденту оформленного переоформленного, принятого на обслуживание, закрытого) ПС</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="docsToResidentKind" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Способ направления резиденту оформленного переоформленного, принятого на обслуживание, закрытого) ПС</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="registration" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения об оформлении, переводе и закрытии ПС</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CC051RegistrationRecord" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="acceptDateAfterTransfer" minOccurs="0" type="xs:dateTime">
																	<xs:annotation>
																		<xs:documentation>Дата принятия ПС при его переводе</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="closingDate" minOccurs="0" type="xs:dateTime">
																	<xs:annotation>
																		<xs:documentation>Дата закрытия</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="evidence" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Основание закрытия ПС</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="2000"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="numberPP" minOccurs="0" type="xs:int">
																	<xs:annotation>
																		<xs:documentation>Номер ПП</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="regNumberOfDPBank" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Регистрационный номер банка ПС</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="dealPassCred138I" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Доп. информация для квитанции по правке о подтверждающих документах</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DealPassCred138I">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="bankAcceptDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата принятия электронного документа в банке</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="bankGrantingtDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата и время представления в банк</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="contactPerson" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ФИО контактного лица</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="dealPassportDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата ПС</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="dealPassportNumber" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Номер пасспорта сделки</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="docsFromResidentDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата предоставления резидентом документов для оформления (переоформления, принятия на обслуживание и закрытия) ПС, созданного на банке</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="docsFromResidentKind" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Способ передачи резидентом документов для оформления (переоформления, принятия на обслуживание и закрытия) ПС, созданного на банке</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="docsToResidentDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата направления резиденту оформленного переоформленного, принятого на обслуживание, закрытого) ПС</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="docsToResidentKind" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Способ направления резиденту оформленного переоформленного, принятого на обслуживание, закрытого) ПС</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="registration" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения об оформлении, переводе и закрытии ПС</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CC061RegistrationRecord" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="acceptDateAfterTransfer" minOccurs="0" type="xs:dateTime">
																	<xs:annotation>
																		<xs:documentation>Дата принятия ПС при его переводе</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="closingDate" minOccurs="0" type="xs:dateTime">
																	<xs:annotation>
																		<xs:documentation>Дата закрытия ПС</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="evidence" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Основание закрытия ПС</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="2000"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="numberPP" minOccurs="0" type="xs:int">
																	<xs:annotation>
																		<xs:documentation>Номер по порядку</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="regNumberOfDPBank" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Регистрационный номер банка ПС</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="dealPassCred181I" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Доп. информация для кредитный договор для постановки на учет</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DealCred181I">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="bankAcceptDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата принятия электронного документа в банке</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="bankGrantingtDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата и время представления в банк</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="contactPerson" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ФИО контактного лица</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="uniqueContractNumber" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Уникальный номер кредитного договора</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="depositGrant" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DepositGrant">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="depAccountBank" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Депозитный счет №</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="depAccountPercentBank" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Счет учета начисленных процентов</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="depDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>от</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="depNumber" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Депозитный договор №</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="depositLongGrand" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DepositLongGrand">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="depAccountBank" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Депозитный счет №</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="depAccountPercentBank" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Счет учета начисленных процентов</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="deregDP" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Доп. информация для квитанции по заявлению о снятии с учета контракта (кредитного договора)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DeregDP">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="bankGrantingtDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата и время представления в банк</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="contactPerson" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ФИО контактного лица</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="detachmentPayRoll" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Доп. информация для квитанции по реестру на открепление от зарплатного проекта</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DetachmentPayRoll">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="acceptDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата принятия</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="staffproDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата обработки</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="personDetach" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PersonDetach" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="accNum" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Счет</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="firstName" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Имя</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="300"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="lastName" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Фамилия</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="300"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="messFromBank" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Сообщение из банка</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="4000"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="middleName" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Отчество</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="300"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="process" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Статус обработки</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="255"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="resultDate" minOccurs="0" type="xs:dateTime">
																	<xs:annotation>
																		<xs:documentation>Дата</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="staffproDate" minOccurs="0" type="xs:dateTime">
																	<xs:annotation>
																		<xs:documentation>Дата обработки</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="finalPayment" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FinalPayment">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="errorCode" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="errorData" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="errorDescription" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="processedFlag" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:boolean">
													<xs:pattern value="[0-1]{1}"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ticketType" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="issueCards" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Доп. информация для квитанции по реестру на присоединение к зарплатному проекту</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IssueCards">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="acceptDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата приема к исполнению</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="issueCards" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="IssueCard" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="accNum" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Номер счета</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="birthDate" minOccurs="0" type="xs:dateTime">
																	<xs:annotation>
																		<xs:documentation>Дата рождения</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="cardNum" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Номер карты</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="convAccNum" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Номер конверсионного счета</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="docNumber" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Номер</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="255"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="firstName" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Имя</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="300"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="lastName" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Фамилия</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="300"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="messageFromBankAbs" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Сообщение из АБС</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="4000"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="result" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Результат</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="1000"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="resultCode" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Код</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="1000"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="resultDate" minOccurs="0" type="xs:dateTime">
																	<xs:annotation>
																		<xs:documentation>Дата</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="serial" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Серия</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="255"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="tabN" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Табельный номер</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="60"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="lcAdditional" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LCAdditional">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="bankAcceptDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Поступило в банк</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="lcDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата открытия аккредитива</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="lcNumber" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Номер аккредитива</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="40"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="operationDate" minOccurs="0" type="xs:date">
											<xs:annotation>
												<xs:documentation>Дата обработки</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="lcRubAdditional" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LCRubAdditional">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="accredCancelledDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата отказа в приеме</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="accredOpenDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата открытия аккредитива</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="bankAcceptDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Поступило в банк</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="letterInBank" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LetterInBank">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="acceptDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата приема к исполнению</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="mandatorySaleBox" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Доп. информация для квитанции по продаже валюты с транзитного счета</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MandatorySaleBox">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="bankAcceptDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата принятия электронного документа в банке</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="biCommissionAmount" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сумма комиссии</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="20"/>
													<xs:fractionDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="biCommissionAmountCurr" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ISO-код валюты суммы  списания комиссии</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="biDebitedCurrCode" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Валюта суммы списания валюты</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="biDebitedCurrency" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Списано валюты</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="20"/>
													<xs:fractionDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="biDebitedFromTransAccount" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Списано с транзитного счета</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="20"/>
													<xs:fractionDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="biDebitedFromTransAccountCurr" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Валюта суммы списанной с транзитного счета</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="biDebitedSaleCurrCode" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ИСО-код валюты при вкл. галочке "Зачисление"</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="biDebitedSaleCurrency" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Списано валюты при вкл. галочке "Зачисление"</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="20"/>
													<xs:fractionDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="biEnrolledRur" minOccurs="0">
											<xs:annotation>
												<xs:documentation>зачислено рублей</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="18"/>
													<xs:fractionDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="biEnrolledRurCode" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ИСО-код рубля</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="biExchangeRate" minOccurs="0">
											<xs:annotation>
												<xs:documentation>курс проведения операции</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="18"/>
													<xs:fractionDigits value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="biExchangeRateScale" minOccurs="0" type="xs:decimal">
											<xs:annotation>
												<xs:documentation>Масштаб, использованный для проведения сделки</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="valueDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата валютирования</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="mbaReport" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MbaReport">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="operationDate" minOccurs="0" type="xs:date">
											<xs:annotation>
												<xs:documentation>Дата обработки документа. Выставляется при переходе на статус "Обработан"</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="mt103" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MT103">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="operationDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата обработки документа</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="valueDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата валютирования\проводки по документу</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="mt202" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MT202">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="operationDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата обработки документа</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="valueDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата валютирования\проводки по документу</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="nsoOpen" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NsoOpen">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="minBalDealDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата сделки неснижаемого остатка</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="minBalDealNumber" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Номер сделки неснижаемого остатка</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="40"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="operationDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата обработки документа</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="onlineCurrencyConversion" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OnlineCurrencyConversion">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="actualAmountDebet" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Фактическая сумма продажи</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="20"/>
													<xs:fractionDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="actualDocSum" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Фактическая сумма покупки</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="20"/>
													<xs:fractionDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="actualRateCredit" minOccurs="0">
											<xs:annotation>
												<xs:documentation>За (масштаб фактического курса)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="22"/>
													<xs:fractionDigits value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="actualRateDebit" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Фактический кросс-курс</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="22"/>
													<xs:fractionDigits value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="bankAcceptDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата принятия электронного документа в банке</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="operationDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата исполнения документа. Выставляется при переходе на статус "Исполнен"</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="payDocCur" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Доп. информация для квитанции по поручению на перевод валюты</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PayDocCur">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="actualAmount" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Фактическая сумма списанной валюты</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="20"/>
													<xs:fractionDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="actualAmountTransfer" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Фактическая сумма переведенной валюты</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="20"/>
													<xs:fractionDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="bankAcceptDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата принятия электронного документа в банке</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="bankRateScale" minOccurs="0" type="xs:decimal">
											<xs:annotation>
												<xs:documentation>Масштаб, использованный для проведения сделки</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="chargesAmount" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сумма комиссии за перевод</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="20"/>
													<xs:fractionDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="chargesCurrISOCode" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ISO код валюты списания комиссии за перевод</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="convChargesAmount" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сумма комиссии за конверсию</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="20"/>
													<xs:fractionDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="convChargesCurrISOCode" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ISO код валюты списания комиссии за конверсию</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="convRate" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Фактический курс конверсии</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="10"/>
													<xs:fractionDigits value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="valueDate" minOccurs="0" type="xs:date">
											<xs:annotation>
												<xs:documentation>Фактическая дата валютирования</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="payDocRu" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PayDocRu">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="bankAcceptDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата принятия электронного документа в банке (поступило в банк плательшика)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="operationDate" minOccurs="0" type="xs:date">
											<xs:annotation>
												<xs:documentation>Дата исполнения документа. Выставляется при переходе на статус "Исполнен"</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="payRequest" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PayRequest">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="bankAcceptDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата принятия</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="operationDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата списания со счета плательщика</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="queueDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата помещения в картотеку</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="recieveDPayerBank" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата поступления в банк получателя</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="partPaymentsField" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="OutPartPaymentsFields" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="orderDate" minOccurs="0" type="xs:dateTime">
																	<xs:annotation>
																		<xs:documentation>Дата платежного ордера</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="orderNumber" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Номер платежного ордера</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="6"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="partPaymentSum" minOccurs="0" type="xs:decimal">
																	<xs:annotation>
																		<xs:documentation>Сумма частичного платежа</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="paymentBalance" minOccurs="0" type="xs:decimal">
																	<xs:annotation>
																		<xs:documentation>Сумма остатка платежа</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="strNum" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>№ частичного платежа</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="255"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="payRoll" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Доп. информация для квитанции по зарплатной ведомости зарплатного проекта</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PayRoll">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="acceptDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата приема к исполнению</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="valueDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата обработки документа</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="personInfo" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PersonInfo" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="currAccount" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Счет для зачисления валюты</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="firstName" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Имя</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="300"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="lastName" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Фамилия</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="300"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="messageFromBank" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Сообщение из Банка</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="4000"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="messageFromBankAbs" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Сообщение из АБС</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="4000"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="messageFromBankAddInfo" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Сообщение из Банка (детализация)</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="4000"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="receiverINN" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>ИНН Сотрудника</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="12"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="result" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Результат</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="1000"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="resultCode" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Код</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="1000"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="resultDate" minOccurs="0" type="xs:dateTime">
																	<xs:annotation>
																		<xs:documentation>Дата</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="rubAccount" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Счет для зачисления рублей</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="r050" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="R050AdditionalFields">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="bankAcceptDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата принятия/отказа</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="deliveredTime" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата и время принятия электронного документа в банке (поступило в банк плательшика)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="operationDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Списано со счета плательщика</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="queueDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата помещения в картотеку</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="partPaymentsField" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PartPaymentsFields" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="orderDate" minOccurs="0" type="xs:dateTime">
																	<xs:annotation>
																		<xs:documentation>Дата платежного ордера</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="orderNumber" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Номер платежного ордера</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="6"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="partPaymentSum" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Сумма частичного платежа</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:decimal">
																			<xs:totalDigits value="18"/>
																			<xs:fractionDigits value="2"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="paymentBalance" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Сумма остатка платежа</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:decimal">
																			<xs:totalDigits value="18"/>
																			<xs:fractionDigits value="2"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="strNum" minOccurs="0" type="xs:int">
																	<xs:annotation>
																		<xs:documentation>№ част. платежа</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="regChanDP" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Доп. информация для квитанции по правке о подтверждающих документах</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RegChanDP">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="bankGrantingtDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата и время представления в банк</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="contactPerson" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ФИО контактного лица</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="regChanDPCC112" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Доп. информация для квитанции по справке о подтверждающих документах</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RegChanDPCC112">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="bankGrantingtDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата и время представления в банк</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="contactPerson" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ФИО контактного лица</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="untypDocModel" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="UntypDocModel">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="operationDate" minOccurs="0" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата исполнения документа. Выставляется при переходе на статус "Исполнен"</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>